/* eslint-disable no-unused-vars */

<template>
    <div id="app" >
      <v-container fluid >
        <div v-if="onAir" class="popup-onair">
            <h4>ON AIR ({{ convertHMS(seconds) }})</h4>
        </div>
        <div class="logout" @click='logout'>
          <h4>Logout</h4>
        </div>
        <v-layout >
          <v-flex xs9>
          <v-container grid-list-md text-xs-center>
            <v-layout row align-center >
              <v-flex xs12>
                <center>
                <div class="videoSize">
                  <div @mouseover="hoverPartner = true" @mouseleave="hoverPartner = false">
                    <video v-show="onAir" ref="partner" id="partner" autoplay ></video>
                    <div v-if="onAir && hoverPartner" class="videoSize hoverCover">
                      <v-btn color="green" fab small @click="volumePartner" style="margin-top: 35%;">
                          <v-icon v-if="!muted">mdi-volume-high</v-icon>
                          <v-icon v-else>mdi-volume-mute</v-icon>
                        </v-btn> 
                    </div>
                  </div>
                  <center><div v-show="!onAir" class="waiting videoSize">
                    <div class="grid">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                    </div></center>
                </div>
                </center>
              </v-flex>          
              <v-flex xs12><video ref="video" id="video" width="40%" height="40%" autoplay></video></v-flex>
            </v-layout>

          </v-container>
          </v-flex>

          <div v-bind:class='onAir ? "active-chat" : "chat"'>
            <center>
              <div v-if="onAir">
              <div class="partner-info">
                  <h4 style="float: left; margin-left: 20px; margin-top: -2px;">
                    <v-img style="border-radius: 10px;" :src='"../assets/flags/" + partnerCountry.toLowerCase() + ".gif"' height="25" width="25"/>
                  </h4>
                  <h4 style="margin-right: 25px; margin-top: 2px;">{{ partnerUsername }}</h4>
              </div>
              <v-list flat style="background-color: transparent !important; margin-top: 20px;">
                <center>
                  <v-list-item-group>
                    <v-list-item
                      v-for="(obj, i) in messages"
                      :key="i"
                    >
                    <div><span class="partner-message">{{ (obj.me ? 'Me' : partnerUsername ) }}</span>: {{ obj.message }}</div>
                    </v-list-item>
                  </v-list-item-group>

                </center>
              </v-list>
                
                  <div style="position: fixed; bottom: 0; width: 22%; right: 2%;padding-top: 5px;">
                      <v-text-field
                        v-model="message"
                        label="Write something..."
                        dark
                        @keydown.enter='sendMessage'>
                          <template v-slot:append>
                              <v-btn @click='sendMessage' color="green" fab small >
                                <v-icon>mdi-chevron-left</v-icon>
                              </v-btn> 
                          </template>
                    </v-text-field>
                  </div>
              </div>
            </center>

          </div>
        </v-layout>
      </v-container>
        
    </div>
</template>

<script>
import router from '../router/index';

var socket = require('../assets/socket.io')('https://localhost:443');
let Peer = require('simple-peer');

export default {
  name: 'Chat',
  components: {
  },
  data() {
    return {
      messages: [], // [ {message: '', me*: true/false}, {}]. * = Who sent this message, the client or the partner.
      message: '',

      video: {},
      partner: {},
      client: {},
      flag: false,
      onAir: false,

      interval: null,
      seconds: 0,

      hover: false,
      hoverPartner: false,
      muted: false,

      partnerUsername: '',
      partnerCountry: '',
    }
  },
  methods: {
    logout: function() {
      this.$store.commit('setToken', '');
      router.push({ name: "Login" });
    },
    volumePartner: function() {
        this.partner.muted = !this.muted;
        this.muted = !this.muted;
    },
    convertHMS: function(value) {
    const sec = parseInt(value, 10); // convert value to number if it's string
    let hours   = Math.floor(sec / 3600); // get hours
    let minutes = Math.floor((sec - (hours * 3600)) / 60); // get minutes
    let seconds = sec - (hours * 3600) - (minutes * 60); //  get seconds
    // add 0 if value < 10
    if (hours   < 10) {hours   = "0"+hours;}
    if (minutes < 10) {minutes = "0"+minutes;}
    if (seconds < 10) {seconds = "0"+seconds;}
    return hours+':'+minutes+':'+seconds; // Return is HH : MM : SS
    },
    sendMessage: function() {
      if(this.message.trim() != '')
      {
        socket.emit('message', this.message.trim());
        this.messages.push({message: this.message.trim(), me: true});
        this.message = '';
      }
    },
    startTimer: function() {
      this.interval = setInterval(() => {
        this.seconds += 1;
      }, 1000);
    },
    CreateVideo: function(stream) {
      this.partner = this.$refs.partner;
      this.partner.srcObject = stream;
      this.partner.play();
      this.onAir = true;
    },
    InitPeer: function(type, stream) {
      let peer = new Peer({ initiator: (type == 'init') ? true : false, stream: stream, trickle: false });
      peer.on('stream', (stream) => {
          this.CreateVideo(stream);
      })

      return peer
    },
    MakePeer: function(stream){
      this.client.gotAnswer = false;
      let peer = this.InitPeer('init', stream);
      peer.on('signal', (data) => {
        if (!this.client.gotAnswer) {
          socket.emit('Offer', data);
        }
      });

      this.client.peer = peer;
    },
    FrontAnswer: function(offer, stream){
      let peer = this.InitPeer('notInit', stream);
      peer.on('signal', (data) => {
        socket.emit('Answer', data);
      });
      peer.signal(offer);
      this.client.peer = peer;
    },
    SignalAnswer: function(answer) {
        this.client.gotAnswer = true;
        let peer = this.client.peer;
        peer.signal(answer);
    },
  },
  mounted() {
    if(this.$route.query.loggedIn)
      this.$notify({
          group: 'foo',
          text: 'You already logged in',
          type: 'success'
        });

    socket.on('authenticationFailed', () => {
      this.$store.commit('setToken', '');
      router.push({ name: "Login", query: { loggedIn: false }});
    });

    socket.on('alreadyConnected', () => {
      console.log('alreay connected');
    });

    if(!this.$store.getters.isAuthenticated)
      router.push({ name: "Login", query: { loggedIn: false }});

    socket.emit('NewClient', this.$store.state.token);

    this.video = this.$refs.video;

    socket.on('Waiting', () => {
      this.onAir = false;
      this.messages = [];
      clearInterval(this.interval);
      this.interval = null;
      console.log('Waiting for another client');
    });
    
    socket.on('start', (userData) => {
      this.startTimer();
      this.flag = true;
      console.log('Creating peer..');
      this.partnerUsername = userData.username;
      this.partnerUsername = this.partnerUsername.charAt(0).toUpperCase() + this.partnerUsername.substring(1);

      this.partnerCountry = userData.country;

    });

    socket.on('backMessage', (message) => {
      this.messages.push({message: message, me: false});
    })

    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ audio: false, video: true }).then(stream => {
          socket.on('BackOffer', (offer) => { this.FrontAnswer(offer, stream); });
          socket.on('BackAnswer', (answer) => { this.SignalAnswer(answer); });
          
          if(this.flag) {
            this.MakePeer(stream);
          }

          this.video.muted = true;
          this.video.srcObject = stream;
          this.video.play();
      });
    }

  },
  
}
</script>

<style>
.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  color: white !important;
}

.theme--light.v-list-item {
  color: white !important;
}


.theme--dark.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: wheat !important;
    color: black !important;
}
</style>


<style scoped>
.partner-message {
    font-weight: bold;
}
.partner-info { 
  background-color: #F5F5F5;
  padding: 10px;
  margin-top: 30px;
  height: 100px;
  width:180px;
  border-radius: 15px;
  max-height: 40px;
  color: #464655;
}

.v-item-group:last-child {
  padding-bottom: 30px;
}
.grid {
  position:absolute;
  margin-left: 280px;
    margin-top: 173px;
  display: grid;
  grid-template-rows: 2fr 2fr 2fr;
  grid-template-columns: 2fr 2fr 2fr;
  width: 60pt;
  height: 60pt;
  align-items: center;
  justify-items: center;
  
}

.grid > * {
  border: 1.2pt solid rgba(255, 8, 8, 0.01);
  
  animation-name: grid-elem-animation;
  animation-timing-function: ease;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.grid > *:nth-child(2) {
  animation-delay: 0.05s;
}
.grid > *:nth-child(3) {
  animation-delay: 0.10s;
}
.grid > *:nth-child(4) {
  animation-delay: 0.15s;
}
.grid > *:nth-child(5) {
  animation-delay: 0.20s;
}
.grid > *:nth-child(6) {
  animation-delay: 0.25s;
}
.grid > *:nth-child(7) {
  animation-delay: 0.30s;
}
.grid > *:nth-child(8) {
  animation-delay: 0.35s;
}
.grid > *:nth-child(9) {
  animation-delay: 0.40s;
}

@keyframes grid-elem-animation {
  0% {
    border-color: rgba(255, 255, 255, 0.0);
    border-radius: 5pt;
    width: 5pt;
    height: 5pt;
    background-color: rgba(255, 255, 255, 0.0);
  }
  50% {
    border-color: rgba(255, 255, 255, 0.15);
    border-radius: 5pt;
    width: 7pt;
    height: 7pt;
    background-color: rgba(255, 255, 255, 1.0);
  }
  100% {
    border-color: rgba(255, 255, 255, 0.0);
    border-radius: 5pt;
    width: 5pt;
    height: 5pt;
    background-color: rgba(255, 255, 255, 0.0);
  }
}

.videoSize {
  width: 640px; height: 480px;
}
.hoverCover {
  z-index: 1; margin-top: -484px;  background-color: rgba(255,255,255,0.6); position: absolute;
}
.logout {
  position: absolute; bottom: 3%; left: 3%; background-color: #f2383b; color: white !important; padding:12px;
  border-radius: 15px;
  cursor: pointer;
}
.popup-onair {
  position: absolute; top: 3%; left: 3%; background-color: #f2383b; color: white !important; padding:8px;
  border-radius: 15px;
}
.waiting {
width: 640px; height: 480px; background-color: #8783D1;
}

.active-chat {
  overflow:scroll;
  background-color:  #3a2a67; position: absolute; width: 25%; right: 0; height: 100%;
  top: 0;
}

.chat {
  overflow:scroll;
  background-color:  rgba(205,205,205,0.5); position: absolute; width: 25%; right: 0; height: 100%;
  top: 0;

}
#app {
  
  margin: 0;
  background: url('../assets/check.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  overflow-y:hidden;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
