/* eslint-disable no-unused-vars */

<template>
    <div id="home" >
      <div class="menu">
        <ul>
          <li>Chat</li>
          <li>
            <v-btn v-if="!isAuthenticated" style="margin-top: -10px;" color="#e14a32" rounded id="top-button" @click='redirect("Login")'>Sign In</v-btn>
            <v-btn v-else style="margin-top: -10px;" color="#392965" rounded id="top-button" @click='logout'>Logout</v-btn>
          </li>
        </ul>
      </div>
      <div class="left">
          <center>
          <v-img src='../assets/speak.png' id="speak"/>

          <div style="margin-top: 3vh;">
          <h1 style="font-size: 7vh; letter-spacing: 1vh;">TALK</h1>

          <h2 style="margin-top: 1vh; font-size: 3vh;">& Meet <span style="color: #fa7035">new</span> people</h2>
          
          <h4 style="margin-top: 6vh; margin-bottom: 2vh; font-size: 2vh;">Just click below</h4>

          <v-btn color="#fa7035" class="get-started" rounded large @click='redirect("Chat")'>Get Started</v-btn>
          </div>
          </center>
      </div>
      
      <div class="right">
          <center>
                <v-img src='../assets/login-logo.png'  id='logo'/>
                <div v-if="!loading">
                <p style="font-size: 3.8vh; margin-top: 50px; margin-bottom: 12px; color: #fa7035;">{{ connected / 2}} Active Rooms</p>
                <h2 style="color: #8783d1; font-size: 3.8vh;">{{ waiting }} People are waiting to talk right now</h2>
                </div>

              <div v-else>
                <div class="lds-ripple"><div></div><div></div></div>
              </div>

          </center>
      </div>
    </div>
</template>

<script>
import router from '../router/index';
import axios from 'axios';

export default {
  name: 'Home',
  components: {
  },
  data() {
    return {
      loading: true,
      waiting: 0,
      connected: 0
    }
  },
  mounted() {
    this.getInfo();
  },
  methods: {
    logout() {
      this.$store.commit('setToken', '');
    },
    redirect(route){
      router.push(route);
    },
    getInfo() {
      axios.get('https://localhost:443/public_info').then((data) => {
        if(data.data.success) {
          this.waiting = data.data.waiting;
          this.connected = data.data.connected;

          this.loading = false;
        }
      });
    }
  },
  computed: {
    isAuthenticated() {
      //console.log(this.$store);
        return this.$store.getters.isAuthenticated;
    }
  }
  
}
</script>

<style>
#top-button { 
  width: 13vh;
  height: 5.6vh !important;
  color: white !important;
  font-size: 1.9vh  !important;
}
.get-started {
  width: 35%;
  height: 5.5vh !important;
  color: white !important;
  font-size: 1.9vh  !important;
}
</style>

<!-- Loader -->
<style scoped>
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fa7035;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

</style>

<style scoped>
#logo {
  width: 55vh;
}

.right {
  position: absolute;
  width: 60%;
  top: 15vh;
  height: 100%;
  right: 0;
}

#speak {
  width: 30%;
  height: 30%;
}
.left {
  width: 30.5%;
  height: 100%;
  position: absolute;
  left: 20px;
  top: 23%;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  font-size: 2.5vh;
  float: left;
  margin: 2.5vh;
}


.menu {
  right: 3vh;
  top: 3vh;
  position: absolute;
}

#home {
  margin: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('../assets/home-background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  overflow-y:hidden;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
